*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}
.box-solo{
    width: 100%;
    height: 300px;
    background: brown;
    float: left;
    border: 1px solid black;
}

@media screen and (min-width: 768px){
    .box-solo{
        width: 50%;
    }
}

@media screen and (min-width: 1024px){
    .box-solo{
        width:33.3%;
    }
}